@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: #00005C;
    /* --color-2: #447fff; */
    --color-2: #4850e6;
    --color-3: #151b0e;
    /* --color-4: #61cdff; */
    --color-4: #6584ff;
    --color-5: #ffe692;
    --background-color: #ffffff;
    --background-color-05: #ffffff88;
    --grayText: #7979b3;
    --gray: #545454;
    --cyan: #6b42ff;
    --text: #4c43ff;
  }
}

:root {
  scroll-behavior: smooth;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;

  color: var(--color-1);
}

html {
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

abbr {
  text-underline-offset: 4px;
}

.TextBG {
  text-shadow: none;
  background: linear-gradient(to right, var(--color-2), var(--color-4));
  box-shadow: 6px 6px 0 #0004;
  color: var(--background-color);
  padding-inline: 10px;
  border-radius: 15px;
}

.rendering-quality { image-rendering: optimizeQuality; }